<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if lst_obj %}
    {% for elem in lst_obj %}
        <br>
        ---------------------------------------------------------
        {{ elem.name }}<br>
        {{ elem.age }}<br>
        {{ elem.height }}<br>
        {{ elem.weight }}<br>
        {{ elem.gender }}<br>
        <a href="{% url 'ch_del' elem.id %}">Удалить</a>
        <a href="{% url 'ch_ed' elem.id %}">Изменить</a>
        -----------------------------------------------------------
        <br>
    {% endfor %}
{% endif %}
</body>
</html>